<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="baza :: links"></th:block>
  <title th:text="${title}">Login</title>
  <link rel="stylesheet" th:href="@{/css/reg.css}">
</head>
<body>

<div th:replace="baza :: menu"></div>

<div class="content1" style="margin:40px;">
  <div class="box">
    <img src="https://www.clipartmax.com/png/full/267-2671061_y%C3%BCkle-youssefdibeyoussefdibe-profile-picture-user-male.png"
         alt="Profile" style="max-width:120px;">

    <div class="page">
      <div class="header">
        <a id="login" class="active" th:href="@{/login}">Войти</a>
        <a id="signup" th:href="@{/registration}">Регистрация</a>
      </div>
      <div class="content">
        <form class="login" name="loginForm" th:action="@{/login}" method="POST">
          <!-- Пример сообщений -->
          <div th:if="${error}">
            <p th:text="${error}" style="color:red;"></p>
          </div>
          <div th:if="${message}">
            <p th:text="${message}" style="color:green;"></p>
          </div>

          <input type="text" name="emialOrUsername" placeholder="Имя пользователя/почта">
          <input type="password" name="password" placeholder="Пароль">

          <div id="check">
            <input type="checkbox" name="remainme" id="remember">
            <label for="remember">Запомнить меня</label>
          </div>
          <br><br>
          <input type="submit" value="Войти">
        </form>
      </div>
    </div>
  </div>
</div>

<div th:replace="baza :: footer"></div>
<div th:replace="baza :: scripts"></div>
</body>
</html>
