<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Поиск</title>
</head>
<body>
<br><br><br><br>
<center>
  <form th:action="@{/poisk}" method="post">
    <input type="hidden" name="search_form" value="name_search">
    <div class="searchBox">
      <input class="searchInput" type="text" name="poisk" placeholder="Название">
      <button class="searchButton">
        <i class="material-icons">Искать</i>
      </button>
    </div>
  </form>
</center>

<div class="forma-sort">
  <form th:action="@{/poisk}" method="post">
    <input type="hidden" name="search_form" value="filter_search">
    <div class="genre-btns">
      <button id="openGenresBtn" type="button">Открыть жанры</button>
      <button id="closeGenresBtn" style="display: none;" type="button">Закрыть жанры</button>
    </div>
    <div class="genres-list">
      <div th:each="genre : ${uniq_genres}" class="checkbox-item">
        <label th:text="${genre}"></label>
        <input type="checkbox" name="selected_genres" th:value="${genre}">
      </div>
    </div>
    <label>Тип</label>
    <div class="type-list">
      <div class="checkbox-item">
        <label>Манга</label>
        <input type="checkbox" name="selected_type" value="манга">
      </div>
      <div class="checkbox-item">
        <label>Ранобе</label>
        <input type="checkbox" name="selected_type" value="ранобе">
      </div>
      <div class="checkbox-item">
        <label>Аниме</label>
        <input type="checkbox" name="selected_type" value="аниме">
      </div>
    </div>
    <div class="chapter-input">
      <label for="chapterStart">Количество глав:</label>
      <input type="number" id="chapterStart" placeholder="от" name="chapter_start" min="0">
      <label for="chapterEnd">-</label>
      <input type="number" id="chapterEnd" placeholder="до" name="chapter_end" min="0">
    </div>
    <div class="year-input">
      <label for="yearStart">Год:</label>
      <input type="number" id="yearStart" placeholder="от" name="year_start" min="1900">
      <label for="yearEnd">-</label>
      <input type="number" id="yearEnd" placeholder="до" name="year_end" min="1900">
    </div>
    <div>
      <input type="submit" value="Показать">
      <input type="reset" value="Сбросить">
    </div>
  </form>
</div>

<div class="container">
  <div th:if="${titles != null}" class="seeAll">
    <div class="topic">Результаты поиска:</div>
    <div class="grid-container">
      <div th:each="title : ${titles}" class="grid-item">
        <a th:href="@{/titles/{name}(name=${title.nameOnEnglish})}">
          <img th:src="${title.cover}" class="grid-img item" alt="image">
        </a>
        <div class="card_content" th:text="${title.nameOnRussian}"></div>
        <div class="infaPriNavodke">
          <p>Год: <b th:text="${title.year}"></b></p>
          <p>Жанры: <b th:text="${title.genres}"></b></p>
          <p>Глав: <b th:text="${title.glavaCount}"></b></p>
          <p>Рейтинг: <b th:text="${title.rating}"></b></p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
