<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="baza :: links"></th:block>
    <link th:href="@{/css/reg.css}" rel="stylesheet"/>
    <title>Регистрация</title>
</head>
<body>

<div th:replace="baza :: menu"></div>

<br><br><br><br>

<div class="box">
    <img src="https://www.clipartmax.com/png/full/267-2671061_y%C3%BCkle-youssefdibeyoussefdibe-profile-picture-user-male.png" alt="User Icon">

    <div class="page">
        <div class="header">
            <!-- «Войти» ссылается на /login -->
            <a id="login" th:href="@{/login}">Войти</a>
            <!-- «Регистрация» будет активной -->
            <a id="signup" class="active" th:href="@{/registration}">Регистрация</a>
        </div>

        <!-- Вывод возможных flash-сообщений (ошибок валидации и т.п.) -->
        <div th:if="${not #lists.isEmpty(flashMessages)}"
             th:each="msg : ${flashMessages}">
            <div class="flash" th:text="${msg}"></div>
        </div>

        <div class="content">
            <form class="signup" method="post" th:action="@{/registration}">
                <input type="text" name="username" id="signName" placeholder="Имя пользователя">
                <input type="email" name="email" id="signEmail" placeholder="Email">
                <input type="password" name="password" id="signPassword" placeholder="Пароль">
                <br>
                <input type="submit" value="Зарегистрироваться">
            </form>
        </div>
    </div>
</div>

<br><br><br><br><br>

<div th:replace="baza :: footer"></div>
<div th:replace="baza :: scripts"></div>

</body>
</html>
